// Nextflow configuration file for genomic analysis pipeline

params {
    dataCacheDir = "/srv/data_sata/work_desk/.data_cache"
    assetsDir = "$baseDir/assets"
}

process {

    // Process-specific configurations
    withName:FASTQC {
        cpus = 1
        memory = 4.GB
    }

    withName:TRIMMOMATIC {
        cpus = 4
        memory = 8.GB
        ext.args2 = 'ILLUMINACLIP:TruSeq3-PE.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'

    }

    withName:SPADES {
        cpus = 5
        ext.args='-k 21,33,55,77,99 --only-assembler'
        memory = 8.GB
    }

    withName:PROKKA {
        cpus = 4
        memory = 8.GB
    }

    withName:AMRFINDERPLUS_RUN {
        cpus = 2
        memory = 8.GB
    }

    withName:MLST {
        cpus = 4
        memory = 4.GB
    }

    withName:SNIPPY_RUN {
        cpus = 4
        memory = 8.GB
    }

    withName:DIAMOND_BLASTX {
        cpus = 4
        memory = 8.GB
    }
    withName:RGI_MAIN {
        cpus = 5
        memory = 8.GB
        ext.args2 = "--local --clean -t protein"
    }
}

// Execution profiles
 profiles{

    local{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir ="/srv/data_sata/work_desk/.nf_cache/"
        conda.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        queueSize = 10
    }
  
 }

// Reporting and logging configurations
report {
    enabled = true
    overwrite = true
    file = "${params.output_dir}/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.output_dir}/timeline_report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.output_dir}/trace_report.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,memory,disk,rss,vmem'
}


// Cleanup configurations
// cleanup {
//     enabled = false
//     removeWorkDirWhenSuccess = true
//     removeWorkDirWhenCancel = true
//     removeWorkDirWhenError = false
// }