 profiles{
    slurm{
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/../singularity-images/"
        queueSize = 50
        submitRateLimit = '1 sec'
    }
    uppmax_inter{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/../singularity-images/"
        queueSize = 100
        submitRateLimit = '0.1 sec'
    }

    local{
        process.executor = 'local'
        singularity.enabled = false
        singularity.cacheDir = "${projectDir}/../singularity-images/"
        queueSize = 10
    }
  
 }

 process{
    cpus = 1
    memory = 6.GB
    time = '10min'
    queue = 'core'
    clusterOptions='-A snic2022-22-179'

    withLabel: 'vshort'{
        cpus=1
        memory = 1.GB
        time= '5min'
        
    }

    withName: SPADES{
        cpus = 10
        memory = 16.GB
        time='15min'
        ext.args='-k 21,33,55,77,99,127 --isolate --only-assembler'
    }
    withName: DIAMOND_BLASTX{
        cpus = 10
        memory = 6.GB
        time='5min'
        ext.args='--masking 0 --max-target-seqs 1 --quiet'
    }
	withName: BLASTN{
		cpus = 5
        memory = 6.GB
        time='10min'
	}
	withName: PRODIGAL{
		cpus = 1
        memory = 4.GB
        time='7min'
	}
	withName: KRAKEN2_KRAKEN2{
        cpus = 10
        memory = 16.GB
        time='10min'
      
    }
}