{
  "species": [
    {
      "name": "Escherichia coli",
      "gbk": "/path/to/assets/references/ecoli/NC_000913.gbk",
      "fasta": "/path/to/assets/references/ecoli/NC_000913.fasta",
      "trn": "/path/to/assets/references/ecoli/Escherichia_coli.trn",
      "amroption": "-O Escherichia --plus"
    },
    {
      "name": "Klebsiella pneumoniae",
      "gbk": "/path/to/assets/references/klebsiella/NC_016845.gbk",
      "fasta": "/path/to/assets/references/klebsiella/NC_016845.fasta",
      "trn": "/path/to/assets/references/klebsiella/Klebsiella_pneumoniae.trn",
      "amroption": "-O Klebsiella_pneumoniae --plus"
    },
     {
      "name": "Klebsiella oxytoca",
      "gbk": "/path/to/assets/references/klebsiella/NC_016845.gbk",
      "fasta": "/path/to/assets/references/klebsiella/NC_016845.fasta",
      "trn": "/path/to/assets/references/klebsiella/Klebsiella_pneumoniae.trn",
      "amroption": "-O Klebsiella_oxytoca --plus"
    },
    {
      "name": "Enterobacter cloacae",
      "gbk": "/path/to/assets/references/enterobacter/NC_014121.gbk",
      "fasta": "/path/to/assets/references/enterobacter/NC_014121.fasta",
      "trn": "/path/to/assets/references/enterobacter/Enterobacter_cloacae.trn",
      "amroption": "-O Enterobacter_cloacae"
    },
    {
      "name": "Pseudomonas aeruginosa",
      "gbk": "/path/to/assets/references/pseudomonas/NC_002516v2.gbk",
      "fasta": "/path/to/assets/references/pseudomonas/NC_002516v2.fasta",
      "trn": "/path/to/assets/references/pseudomonas/Pseudomonas_aeruginosa.trn",
      "amroption": "-O Pseudomonas_aeruginosa"
    }
  ],
  "default": {
    "gbk": "/path/to/assets/references/pseudomonas/NC_002516v2.gbk",
    "fasta": "/path/to/assets/references/pseudomonas/NC_002516v2.fasta",
    "trn": "/path/to/assets/references/pseudomonas/Pseudomonas_aeruginosa.trn",
    "amroption": "-O Escherichia --plus"
  }
}