{
  "species": [
    {
      "name": "Escherichia_coli",
      "gbk": "ecoli/NC_000913v3.gbk",
      "fasta": "ecoli/NC_000913v3.fasta",
      "trn": "ecoli/Escherichia_coli.trn",
      "amrfindopt": "--organism Escherichia --plus"
    },
    {
      "name": "Klebsiella_pneumoniae_complex",
      "gbk": "klebsiella_pneumoniae_complex/CP008797v1.gbk",
      "fasta": "klebsiella_pneumoniae_complex/CP008797v1.fasta",
      "trn": "klebsiella_pneumoniae_complex/Klebsiella_pneumoniae.trn",
      "amrfindopt": "--organism Klebsiella_pneumoniae --plus"
    },
    {
      "name": "Klebsiella_oxytoca_complex",
      "gbk": null,
      "fasta": null,
      "trn": null,
      "amrfindopt": "--organism Klebsiella_pneumoniae --plus"
    },
    {
      "name": "Enterobacter_cloacae",
      "gbk": null,
      "fasta": null,
      "trn": null,
      "amrfindopt": "--organism Enterobacter_cloacae"
    },
    {
      "name": "Pseudomonas_aeruginosa",
      "gbk": "pseudomonas/NC_002516v2.gbk",
      "fasta": "pseudomonas/NC_002516v2.fasta",
      "trn": "pseudomonas/Pseudomonas_aeruginosa.trn",
      "amrfindopt": "--organism Pseudomonas_aeruginosa"
    }
  ],
  "default": {
    "gbk": "",
    "fasta": "",
    "trn": "",
    "amrfindopt": ""
  }
}