{
  "species": [
    {
      "name": "Escherichia_coli",
      "gbk": "ecoli/NC_000913v3.gbk",
      "fasta": "ecoli/NC_000913v3.fasta",
      "trn": "ecoli/Escherichia_coli.trn",
      "amrfindopt": "--organism Escherichia --plus",
      "plasmidAct": true
    },
    {
      "name": "Klebsiella_pneumoniae_complex",
      "gbk": "klebsiella_pneumoniae_complex/CP008797v1.gbk",
      "fasta": "klebsiella_pneumoniae_complex/CP008797v1.fasta",
      "trn": "klebsiella_pneumoniae_complex/Klebsiella_pneumoniae.trn",
      "amrfindopt": "--organism Klebsiella_pneumoniae --plus",
      "plasmidAct": true
    },
    {
      "name": "Klebsiella_oxytoca_complex",
      "gbk": "klebsiella_oxytoca/NZ_LR134333v1.gbk",
      "fasta": "klebsiella_oxytoca/NZ_LR134333v1.fasta",
      "trn": "klebsiella_oxytoca/klebsiella_oxytoca.trn",
      "amrfindopt": "--organism Klebsiella_oxytoca --plus",
      "plasmidAct": true
    },
    {
      "name": "Klebsiella_variicola",
      "gbk": "klebsiella_variicola/CP072130v1.gbk",
      "fasta": "klebsiella_variicola/CP072130v1.fasta",
      "trn": "klebsiella_variicola/klebsiella_variicola.trn",
      "amrfindopt": "--organism Klebsiella_pneumoniae --plus",
      "plasmidAct": true
    },
    {
      "name": "Citrobacter_freundii",
      "gbk": "citrobacter_freundii/NZ_LR890181v1.gbk",
      "fasta": "citrobacter_freundii/NZ_LR890181v1.fasta",
      "trn": "citrobacter_freundii/citrobacter_freundii.trn",
      "amrfindopt": "--organism Citrobacter_freundii",
      "plasmidAct": true
    },
    {
      "name": "Enterobacter_cloacae",
      "gbk": "enterobacter_cloacae/NZ_OW968328v1.gbk",
      "fasta": "enterobacter_cloacae/NZ_OW968328v1.fasta",
      "trn": "enterobacter_cloacae/enterobacter_cloacae.trn",
      "amrfindopt": "--organism Enterobacter_cloacae",
      "plasmidAct": true
    },
    {
      "name": "Enterobacter_hormaechei",
      "gbk": "enterobacter_hormaechei/NZ_CP077308v1.gbk",
      "fasta": "enterobacter_hormaechei/NZ_CP077308v1.fasta",
      "trn": "enterobacter_hormaechei/enterobacter_hormaechei.trn",
      "amrfindopt": "--organism Enterobacter_cloacae",
      "plasmidAct": true
    },
     {
      "name": "Enterobacter_bugandensis",
      "gbk": "enterobacter_bugandensis/NZ_LT992502v1.gbk",
      "fasta": "enterobacter_bugandensis/NZ_LT992502v1.fasta",
      "trn": "enterobacter_bugandensis/enterobacter_bugandensis.trn",
      "amrfindopt": "--organism Enterobacter_cloacae",
      "plasmidAct": true
    },
     {
      "name": "Enterobacter_asburiae",
      "gbk": "enterobacter_asburiae/NZ_AP019630v1.gbk",
      "fasta": "enterobacter_asburiae/NZ_AP019630v1.fasta",
      "trn": "enterobacter_asburiae/enterobacter_asburiae.trn",
      "amrfindopt": "--organism Enterobacter_asburiae",
      "plasmidAct": true
    },
    {
      "name": "Pseudomonas_aeruginosa",
      "gbk": "pseudomonas/NC_002516v2.gbk",
      "fasta": "pseudomonas/NC_002516v2.fasta",
      "trn": "pseudomonas/Pseudomonas_aeruginosa.trn",
      "amrfindopt": "--organism Pseudomonas_aeruginosa",
      "plasmidAct": false
    },
    {
      "name": "Proteus_mirabilis",
      "gbk": "proteus_mirabilis/NC_010554v1.gbk",
      "fasta": "proteus_mirabilis/NC_010554v1.fasta",
      "trn": "proteus_mirabilis/proteus_mirabilis.trn",
      "amrfindopt": "",
      "plasmidAct": true
    },
    {
      "name": "Providencia_rettgeri",
      "gbk": "providencia_rettgeri/NZ_CP077317v1.gbk",
      "fasta": "providencia_rettgeri/NZ_CP077317v1.fasta",
      "trn": "providencia_rettgeri/providencia_rettgeri.trn",
      "amrfindopt": "",
      "plasmidAct": true
    }
  ],
  "default": {
    "gbk": null,
    "fasta": null,
    "trn": null,
    "amrfindopt": "",
    "plasmidAct": false
  }
}