{
  "databases": [
    {
      "name": "VFDB",
      "path": "/path/to/assets/databases/VFDB/VFDB_setA_pro.dmnd"
    },
    {
      "name": "CARD",
      "path": "/path/to/assets/databases/CARD/card_protein.dmnd"
    },
    {
      "name": "Resfinder",
      "path": "/path/to/assets/databases/Resfinder/resfinder_protein.dmnd"
    }
  ]
}